:root{
    --header-color:#008080;
    --bcg-color:#f8f8f8;
    --padding:20px;
    --text-color:#fff;
    --border-radius:5px;
   
    
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, sans-serif;
    background-color:var(--bcg-color) ;
    width: 100vw;
}
header{
    background-color: var(--header-color);
    padding: var(--padding);
    color: var(--text-color);
 
}
header h1{
    font-size: 36px;
   
}
main{
    min-height: 80vh;
    padding: var(--padding);
    max-width: 800px;
    margin: 0 auto;
}
main form{
    display: flex;
    justify-content: center;
    
   
}
form input[type="text"],button[type="submit"]{
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: var(--border-radius);
    padding: calc(var(--padding)/2);
    
}
form input[type="text"]{
    flex-grow: 1;
    
}
form button[type="submit"]{
    background-color: var(--header-color);   
    color: var(--text-color);
    margin-left: 10px;
    cursor: pointer;
}
footer{
    background-color: var(--header-color);
    color: var(--text-color);
    padding: var(--padding);
    text-align: center;
    font-size: 18px;
    position: fixed;
    width: 100%;
}
.result{
    background-color: #fff;
    padding: var(--padding);
    border-radius: var(--border-radius);
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    height: 200px;
    width: 150px;
    position: fixed;
    cursor: pointer;
}
.result1{
    background-color: #fff;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border-color: var(--header-color);
    margin-top: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    height: 200px;
    width: 150px;
    margin-left: 200px;
    position: fixed;
    cursor: pointer;
}
.result2{
    background-color: #fff;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border-color: var(--header-color);
    margin-top: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    height: 200px;
    width: 150px;
    margin-left: 400px;
    position: fixed;
    cursor: pointer;
}
.result3{
    background-color: #fff;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border-color: var(--header-color);
    margin-top: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    height: 200px;
    width: 150px;
    margin-left: 600px;
    position: fixed;
    cursor: pointer;
}
.result4{
    background-color: #fff;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border-color: var(--header-color);
    margin-top: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    height: 200px;
    width: 150px;
    margin-left: 800px;
    position: fixed;
}


.image{
    background-color: azure;
    padding: var(--padding);
    margin-top: -600px;
    height: 600px;
    width: 1000px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    margin-left: -220px;
}
.result h1{
    display: flex;
    justify-content: center;
    color: var(--header-color);
}
.result img{ 
 
    margin-top: -15px;
    margin-left: 10px;   
    height: 150px;
    width: 100px;
    position: fixed;
  
   
}
.result1 img{ 
 
    margin-top: -15px;
    margin-left: -5px;   
    height: 150px;
    width: 130px;
    position: fixed;
}
.result2 img{ 
 
    margin-top: -15px;
    margin-left: -5px;   
    height: 150px;
    width: 130px;
    position: fixed;
}
.result3 img{ 
 
    margin-top: -15px;
    margin-left: -5px;   
    height: 150px;
    width: 130px;
    position: fixed;
}
.result4 img{ 
 
    margin-top: -15px;
    margin-left: -5px;   
    height: 150px;
    width: 130px;
    position: fixed;
}
   
.bar{
    background-color: azure;
    padding: var(--padding);
    margin-top: 10px;
    height: 600px;
    width: 200px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 2);
    margin-left: -500px;
 
}


